body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png");
}

main{
    background-color: white;
}
.login{
    align-self: center;
}

.login h1{
    font-size: 30px;
    margin-bottom: 25px;
}


.login .form-group{
    margin-bottom: 12px;
}

.redirecionar {
    margin: 40px;
}
